 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Leadyffy is a software development team of experts pushing good code and principles, excited to leverage new technologies to read faster and better solutions</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a small company looking for effective development, or a big player looking for adding top talent to your team, we love solid long term relations with our partners! </p>
                </div>
            </div>
        </div>
    </section>
